
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 50px;

}

.inputbox {
  border: grey solid 1px;
  display: flex;
}


.col {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 50px;
  align-items: center;
  justify-items: center;

  label {
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
}

  input {
  vertical-align: middle;
}
  label span {
  vertical-align: middle;
}
}

.checkbox-label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
.handk{
  display: flex;
  flex-direction: column;
  font-size: 3em;
}
