<div class="container">
  <form [formGroup]="inputDataForm" (ngSubmit)="onSubmit() ">
    <div class="inputbox">
      <div class="col">
        <label class="checkbox-label" for="a">a
        <input id="a" name="a" type="checkbox" formControlName="a"></label>
        <label class="checkbox-label" for="b">b
        <input id="b" name="b" type="checkbox" formControlName="b"></label>
        <label class="checkbox-label" for="c">c
        <input id="c" name="c" type="checkbox" formControlName="c"></label>
      </div>
      <div class="col">
        <label class="checkbox-label" for="d">d:
          <input id="d" name="d" type="number" formControlName="d"></label>
        <label class="checkbox-label" for="e">e:
          <input id="e" name="e" type="number" formControlName="e"></label>
        <label class="checkbox-label" for="f">f:
          <input id="f" name="f" type="number" formControlName="f"></label>
      </div>
    </div>
    <button type="ngSubmit">Get H and K</button>
  </form>
<div class="handk" *ngIf="handk | async as hk">
 <div class="ans">H:{{hk.H}}</div>
  <div class="ans">K:{{hk.K}}</div>
</div>


</div>
